{% extends 'viajes/base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<h2>Bienvenido a la Agencia de Viajes</h2>
<ul>
    {% for paquete in paquetes %}
    <li>
        <a href="{% url 'detalles_paquete' paquete.id %}">{{ paquete.nombre }}</a>
        - {{ paquete.destino }} - ${{ paquete.precio }}
        <!-- Enlace para reservar -->
        <a href="{% url 'reservar_paquete' paquete.id %}" style="margin-left: 10px;">Reservar</a>
    </li>
    {% endfor %}
</ul>

{% endblock %}
